/*
1200
992
767
550
*/

@media screen and (min-width: 767px) and (max-width: 992px) {
  .loading-page span {
    font-size: 3vw;
    padding-right: 1.5vw;
  }

  .loading-page img {
    height: 4.5vw;
  }

  #header {
    height: 10vw;
  }

  #menu {
    top: 10vw;
  }

  #logo {
    width: 35vw;
  }

  #logo span.big-font {
    font-size: 4vw;
  }

  #logo span.little-font {
    bottom: 1.6vw;
    font-size: 1.24vw !important;
    letter-spacing: .3vw !important;
  }

  .menu-button {
    height: 4.4vw;
    width: 5.1vw;
    padding: 2.8vw;
  }

  .menu-line {
    height: .8vw;
    width: 5.1vw;
  }

  .mobile-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 5vw;
  }

  .charge-motion-circle-background {
    top: calc(50% + 10vw);
    width: 40vw;
    height: 40vw;
  }

  #content {
    top: 10vw;
  }
}


@media screen and (max-width: 767px) {
  .loading-page span {
    font-size: 6vw;
    padding-right: 3vw;
  }

  .loading-page img {
    height: 9vw;
  }

  #header {
    height: 15vw;
  }

  #menu {
    top: 15vw;
  }

  #logo {
    width: 50vw;
  }

  #logo span.big-font {
    font-size: 6vw;
  }

  #logo span.little-font {
    bottom: 2.4vw;
    font-size: 1.86vw !important;
    letter-spacing: .45vw !important;
  }

  .menu-button {
    height: 6.6vw;
    width: 7.65vw;
    padding: 4.2vw;
  }

  .menu-line {
    height: 1.2vw;
    width: 7.65vw;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    font-size: 7.5vw;
  }

  .charge-motion-circle-background {
    top: calc(50% + 15vw);
    width: 60vw;
    height: 60vw;
  }

  #content {
    top: 15vw;
  }
}


@media screen and (min-width: 992px) {
  #menu ul {
    opacity: 1 !important;
  }

  .lang {
    display: none;
  }

  .menu-button {
    display: none !important;
  }

  .charge-motion-circle-background {
    display: none !important;
  }

  #header {
    height: 5.75vw;
  }

  #content {
    top: 5.75vw;
  }

  .vertical-line {
    position: absolute;
    top: 0vw;
    width: .4vw;
    height: 0vw;
    background: #4EFF01;
    transition: 1s height;
    z-index: 1;
  }

  .horizontal-line {
    position: absolute;
    top: 7.65vw;
    left: 0vw;
    width: 0vw;
    height: .4vw;
    background: #4EFF01;
    transition: 1s;
  }

  .name-page-font {
    position: absolute;
    -webkit-font-family: 'Yu Gothic Light';
    -moz-font-family: 'Yu Gothic Light';
    -ms-font-family: 'Yu Gothic Light';
    -o-font-family: 'Yu Gothic Light';
    font-family: 'Yu Gothic Light';
    -webkit-letter-spacing: 0vw;
    -moz-letter-spacing: 0vw;
    -ms-letter-spacing: 0vw;
    -o-letter-spacing: 0vw;
    letter-spacing: 0vw;
    -webkit-font-size: 2.5vw;
    -moz-font-size: 2.5vw;
    -ms-font-size: 2.5vw;
    -o-font-size: 2.5vw;
    font-size: 2.5vw;
    top: -5vw;
    left: 5vw;
    transition: 1s top;
  }

  .text-page-font {
    position: absolute;
    top: 11vw;
    left: -33vw;
    width: 28vw;
    padding: 1.5vw;
    -webkit-line-height: 2.5vw;
    -moz-line-height: 2.5vw;
    -ms-line-height: 2.5vw;
    -o-line-height: 2.5vw;
    line-height: 2.5vw;
    -webkit-font-size: 1.4vw;
    -moz-font-size: 1.4vw;
    -ms-font-size: 1.4vw;
    -o-font-size: 1.4vw;
    font-size: 1.4vw;
    transition: 1s left;
    z-index: 1;
  }
}

@media screen and (max-width: 992px) {
  #dots {
    display: none;
  }

  #logo {
    margin: auto;
  }

  .menu-button {
    display: none;
    position: fixed;
    top: 0vw;
    right: 0vw;
    cursor: pointer;
    z-index: 3;
    transition: 1s;
    opacity: 0;
  }

  .menu-line {
    position: absolute;
    transition-duration: .5s;
    border-radius: 5px;
    background: #70BF4C;
  }

  .l2 {
    background: #243F83 !important;
  }

  #menu {
    position: fixed;
    left: 0vw;
    width: 100vw;
    height: 0vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    transition: .7s;
  }

  #menu ul {
    display: grid;
    transition: .7s;
    opacity: 0;
  }

  .menu-item {
    padding: 2vw 2vw;
    transition: .5s;
    font-weight: bold;
    cursor: pointer;
  }

  .lang {
    display: block;
  }

  .lang a {
    color: inherit;
    text-decoration: none;
  }

  #mobile-background {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    z-index: 2;
  }

  .charge-motion-circle-background {
    display: block;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 0 10vw #70BF4C;
    overflow: hidden;
    z-index: 1;
  }

  .charge-motion-circle-background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
  }
}

@media screen and (min-width: 550px) and (max-width: 992px) {
  #menu ul {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vw;
    font-size: 5vw;
  }

  .name-page-font {
    position: absolute;
    top: -25vw;
    font-family: 'Yu Gothic Light';
    font-size: 5vw;
    transition: 1s top;
    width: 100%;
    text-align: center;
  }

  .text-page-font {
    position: absolute;
    top: 15vw;
    left: -110vw;
    width: 28vw;
    padding: 5vw;
    line-height: 6vw;
    font-size: 4vw;
    transition: 1s left;
    z-index: 3;
    width: 100vw;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
  }
}

@media screen and (max-width: 550px) {
  #menu ul {
    grid-template-columns: 1fr;
    grid-gap: 5vw;
    font-size: 7vw;
    margin: 10vw 5vw;
  }

  .name-page-font {
    position: absolute;
    top: -25vw;
    font-family: 'Yu Gothic Light';
    font-size: 6vw;
    transition: 1s top;
    width: 100%;
    text-align: center;
  }

  .text-page-font {
    position: absolute;
    top: 15vw;
    left: -110vw;
    width: 28vw;
    padding: 5vw;
    line-height: 8vw;
    font-size: 5.5vw;
    transition: 1s left;
    z-index: 3;
    width: 100vw;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
  }
}
