/* Phone */
div.phone-hide {
  position: fixed;
  left: 45%;
  bottom: -60vw;
  transform: rotate(-30deg);
  transition: 1s;
}

div.phone-paralax {
  border: .1vw solid rgba(0, 0, 0, 0);
  height: 49vw;
  width: 24vw;
  transition: .1s;
}

div.phone-paralax img {
  position: absolute;
  width: 100%;
}

div.accumulator {
  position: relative;
  margin: 31% auto;
  width: 48%;
  height: 9%;
}

div.background-accumulator {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 90%;
  height: 100%;
  background: #5A5A5A;
  border-radius: 1vw;
  overflow: hidden;
}

div.background-accumulator-green {
  position: absolute;
  left: -80%;
  width: 88%;
  height: 100%;
  background: red;
  border-radius: 1vw;
  z-index: 1;
  transition: 2s;
  transition-timing-function: ease;
}

div.end-accumulator {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  width: 5%;
  height: 40%;
  background: #5A5A5A;
  border-radius: 2vw;
  overflow: hidden;
}

div.background-end-accumulator-green {
  width: 0%;
  height: 100%;
  background: #4EFF01;
}

div.percent-charge {
  position: absolute;
  top: 5vw;
  font-size: 1.6vw;
  text-shadow: .1vw .1vw .1vw #000;
}

/* Line */
div.first-vertical-line {
  position: absolute;
  top: 0vw;
  left: 22vw;
  width: .4vw;
  height: 0vw;
  background: #4EFF01;
  z-index: 1;
  transition: 1s;
}

div#bent {
  position: absolute;
  top: 1vw;
  right: -.2vw;
  width: 85%;
  height: 7vw;
}

div.width {
  width: 0%;
  overflow: hidden;
  z-index: 1;
  transition: 2s;
}

div.bent {
  margin: -6.6vw 0 0 45.8vw;
  right: 10vw;
  width: 29vw;
  height: 6.5vw;
  overflow: hidden;
}

div.bent-line {
  border: .4vw solid #4EFF01;
  width: 40vw;
  height: 40vw;
  border-radius: 100%;
  box-sizing: border-box;
  transform: translateX(-5.5vw);
}

div.first-horizontal-line {
  margin-top: 6.6vw;
  width: 46vw;
  height: .55vw;
  background: #4EFF01;
}

div.first-next-horizontal-line {
  margin: -.4vw 0 0 74.6vw;
  width: 11vw;
  height: .4vw;
  background: #4EFF01;
}

/* Charge motion circle */
div.charge-motion-circle {
  position: absolute;
  top: 2.5vw;
  right: 6vw;
  width: 37vw;
  border-radius: 100%;
  overflow: hidden;
}

div.charge-motion-circle img {
  width: 106%;
  margin: -1vw;
}

/* About */
div.about {
  position: absolute;
  top: -5vw;
  left: 5vw;
  font-size: 3vw;
  transition: 1s;
}

div.about-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 28vw;
  top: 10vw;
  left: -35vw;
  line-height: 2.5vw;
  font-size: 1.4vw;
  z-index: 1;
  transition: 1s;
}

div.about-text img {
  width: 85%;
  margin-bottom: 1vw;
}

div.first-opacity {
  opacity: 0;
  transition: 1.5s;
}
