#gallary {
  position: absolute;
  left: -41vw;
  transform: translateX(-50%);
  width: 80vw;
  box-sizing: border-box;
  transition: 1s;
}

.gallary-slide {
  position: absolute;
  width: 100%;
  display: grid;
  grid-gap: 1vw;
  z-index: 1;
  opacity: 0;
  transition: .5s;
}

.opacity-gallary {
  opacity: 1;
}

.show-gallary {
  z-index: 2;
}

.gallary-item {
  position: relative;
  overflow: hidden;
}

.border-gallary {
  position: absolute;
  top: 0vw;
  left: 0vw;
  height: 100%;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  border: .2vw solid rgba(78, 255, 1, 0);
  transition: .3s;
  cursor: pointer;
}

.gallary-item:hover .border-gallary {
  border: .2vw solid rgba(78, 255, 1, 1);
}

.img-gallary-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.gallary-dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.gallary-dot-item {
  background: #fff;
  border-radius: 10vw;
  cursor: pointer;
  transition: .5s;
}

.gallary-dot-item:hover {
  background: #4EFF01;
  opacity: .7;
}

.active-gallary-dot {
  background: #4EFF01;
}

#view-images {
  display: none;
  position: fixed;
  top: 0vw;
  background: rgba(0, 0, 0, .4);
  width: 100vw;
  height: 100vh;
  user-select: none;
  z-index: 5;
}

.img-place {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 2vw;
}

.img-place img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  border-radius: 2vw;
  opacity: 0;
  transition: .25s;
}

.nav-img {
  position: absolute;
  color: #FFF;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  z-index: 1;
}

.nav-img:hover {
  background: rgba(255, 255, 255, 0.5);
}

.nav-img:active {
  background: rgba(255, 255, 255, 0.8);
}

.previous-img {
  top: 50%;
  left: 0vw;
  transform: translateY(-50%);
}

.next-img {
  top: 50%;
  right: 0vw;
  transform: translateY(-50%);
}

.active-opacity {
  opacity: 0;
  transition: 1s !important;
}

.exit {
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.view-img-opened #view-images {
  display: block;
}

@media screen and (min-width: 992px) {
  #gallary {
    top: 12vw;
  }

  .gallary-slide {
    grid-template-columns: 6fr 3fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 25vw;
  }

  .grid-size {
    grid-row: 1/4
  }

  .gallary-height {
    height: 100%;
  }

  .img-place {
    width: 90%;
    height: 90%;
  }

  .exit {
    top: .5vw;
    right: .5vw;
    font-size: 3vw;
    width: 2vw;
    height: 2vw;
  }

  .previous-img {
    border-radius: 0 .7vw .7vw 0;
  }

  .next-img {
    border-radius: .7vw 0 0 .7vw;
  }

  .nav-img {
    height: 3.3vw;
    width: 3.3vw;
    font-size: 2.3vw;
  }

  .gallary-dots {
    top: 27vw;
  }

  .gallary-dot-item {
    height: 1vw;
    width: 1vw;
    margin: 0 .5vw;
  }

  .active-gallary-dot {
    box-shadow: 0 0 .6vw #4EFF01;
  }
}

@media screen and (max-width: 992px) {
  .gallary-slide {
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 5fr 4fr 4fr 2fr;
    height: 100vw;
  }

  .grid-size {
    grid-column: 1/4;
  }

  .img-place {
    width: 80%;
    height: 60%;
  }
}

@media screen and (min-width: 550px) and (max-width: 992px) {
  #gallary {
    top: 15vw;
  }

  .exit {
    top: 2vw;
    right: 2vw;
    font-size: 9vw;
    width: 7vw;
    height: 7vw;
  }

  .previous-img {
    border-radius: 0 1.2vw 1.2vw 0;
  }

  .next-img {
    border-radius: 1.2vw 0 0 1.2vw;
  }

  .nav-img {
    height: 6.6vw;
    width: 6.6vw;
    font-size: 4.6vw;
  }

  .gallary-dots {
    top: 103vw;
  }

  .gallary-dot-item {
    height: 2vw;
    width: 2vw;
    margin: 0 1vw;
  }

  .active-gallary-dot {
    box-shadow: 0 0 1.5vw #4EFF01;
  }
}

@media screen and (max-width: 550px) {
  #gallary {
    top: 20vw;
  }

  .exit {
    top: 5vw;
    right: 5vw;
    font-size: 11vw;
    width: 8vw;
    height: 8vw;
  }

  .previous-img {
    border-radius: 0 1.5vw 1.5vw 0;
  }

  .next-img {
    border-radius: 1.5vw 0 0 1.5vw;
  }

  .nav-img {
    height: 8vw;
    width: 8vw;
    font-size: 6.5vw;
  }

  .gallary-dots {
    top: 105vw;
  }

  .gallary-dot-item {
    height: 3vw;
    width: 3vw;
    margin: 0 2vw;
  }

  .active-gallary-dot {
    box-shadow: 0 0 2vw #4EFF01;
  }
}
