div#header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #101011;
  padding: 0vw 1vw;
  box-sizing: border-box;
  box-shadow: 0vw .2vw .5vw #4EFF01;
  z-index: 4;
}

div#logo {
  position: relative;
  top: -.3vw;
  left: 4vw;
  display: flex;
  align-items: center;
  font-family: Arial Black;
  cursor: pointer;
  transition: .5s;
}

div#logo span.big-font {
  font-size: 2vw;
  transition: .5s;
}

div#logo span.little-font {
  position: absolute;
  right: 0vw;
  bottom: .8vw;
  font-size: .62vw;
  letter-spacing: .15vw;
  transition: .5s;
}

div#logo img.white {
  margin-top: .6vw;
  width: 4.5vw;
  opacity: 1;
  transition: .5s;
}

div#logo img.green {
  top: 0vw;
  left: 38.5%;
  position: absolute;
  margin-top: .6vw;
  width: 4.5vw;
  opacity: 0;
  transition: .5s;
}

div#logo:hover img.white {
  opacity: 0;
}

div#logo:hover img.green {
  opacity: 1;
}

div#logo:hover span.big-font {
  color: #243F83 !important;
}

div#logo:hover span.little-font {
  color: #70BF4C !important;
}

ul#menu {
  display: flex;
  list-style-type: none;
  transition: .5s;
  font-size: 1.5vw;
  padding: 0px;
  margin: 0px;
}

li.menu-item {
  display: flex;
  align-items: center;
  padding: 2vw 2vw;
  transition: .5s;
  font-weight: bold;
  cursor: pointer;
}

li.menu-item:hover {
  color:  #4EFF01;
  opacity: .7;
}

li.activeMenu {
  color:  #4EFF01;
  opacity: 1 !important;
}

div.menu-button {
  position: absolute;
}
