#header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #101011;
  padding: 0vw 1vw;
  user-select: none;
  box-sizing: border-box;
  box-shadow: 0vw .2vw .5vw #4EFF01;
  z-index: 5;
}

#logo {
  position: relative;
  top: -.3vw;
  left: 4vw;
  display: flex;
  align-items: center;
  -webkit-font-family: Arial Black !important;
  -moz-font-family: Arial Black !important;
  -ms-font-family: Arial Black !important;
  -o-font-family: Arial Black !important;
  font-family: Arial Black !important;
  letter-spacing: normal !important;
  cursor: pointer;
  height: 5.1vw;
}

#logo span.big-font {
  font-size: 2vw;
  color: #243F83;
}

#logo span.little-font {
  position: absolute;
  right: 0vw;
  bottom: .8vw;
  font-size: .62vw !important;
  letter-spacing: .15vw;
  color: #70BF4C;
}

#logo img {
  margin-top: .6vw;
  width: 4.5vw;
}

#menu ul {
  display: flex;
  list-style-type: none;
  -webkit-font-size: 1.3vw;
  -moz-font-size: 1.3vw;
  -ms-font-size: 1.3vw;
  -o-font-size: 1.3vw;
  font-size: 1.3vw;
  padding: 0px;
  margin: 0px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 2vw 1.5vw;
  transition: .5s color;
  font-weight: bold;
  cursor: pointer;
}

.menu-item:hover {
  color:  #3AB606;
}

.activeMenu {
  color:  #4EFF01 !important;
}
