body {
  margin: 0px;
  padding: 0px;
  background-color: #101011;
  background-image: url(../images/background.png);
  background-size: 18%;
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
  -webkit-font-family: Arial;
  -moz-font-family: Arial;
  -ms-font-family: Arial;
  -o-font-family: Arial;
  font-family: Arial;
  -webkit-font-stretch: ultra-condensed;
  -moz-font-stretch: ultra-condensed;
  -ms-font-stretch: ultra-condensed;
  -o-font-stretch: ultra-condensed;
  font-stretch: ultra-condensed;
  -webkit-letter-spacing: .2vw;
  -moz-letter-spacing: .2vw;
  -ms-letter-spacing: .2vw;
  -o-letter-spacing: .2vw;
  letter-spacing: .2vw;
}

#content {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  transition: 1s;
  z-index: 2;
}

#main {
  position: relative;
  transition: 1s;
  z-index: 3;
}

.inst {
  position: absolute;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: .5s;
  z-index: 2;
}

.inst img {
  height: 100%;
  margin-right: .5vw;
}

#dots {
  position: absolute;
  bottom: 3vw;
  right: 0vw;
  display: grid;
  grid-gap: 1vw;
  width: 2.8vw;
  width: 4vw;
}

.dot-item {
  border: .175vw solid;
  border-radius: 1vw;
  width: .91vw;
  height: .91vw;
  cursor: pointer;
}

.active-dot {
  border: .21vw solid;
  border-radius: 1vw;
  opacity: 0;
  width: .42vw;
  height: .42vw;
  margin: .035vw;
  transition: 1.5s;
}

.moving {
  position: fixed;
  bottom: 0vw;
  background: #4EFF01;
  width: 0%;
  height: .3vw;
}

.activeAutoscrollingPage {
  width: 100% !important;
}

#setting {
  position: absolute;
  top: 0vw;
  left: 0vw;
  transform: translateY(-100%);
  height: 100vh;
  width: 0vw;
  border-right: .4vw solid;
  background: #101011;
  color: #626060;
  user-select: none;
  transition: .2s;
  transition-timing-function: linear;
  z-index: 3;
}

.setting-block {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0vw;
  margin: 0vw;
  width: 100%;
  height: 100%;
  background: #101011;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

.setting-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 0vw;
  margin: 0vw;
  list-style-type: none;
  transition: .2s;
  opacity: 0;
}

.setting-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw 0vw;
}

.set {
  border: .2vw solid;
  border-radius: .5vw;
  width: 10vw;
  height: 2vw;
  justify-content: center !important;
  margin: auto !important;
  cursor: pointer;
}

.set a {
  text-decoration: none;
  color: inherit;
}

.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 2vw;
  box-sizing: border-box;
  border: .2vw solid;
  border-radius: .5vw;
  cursor: pointer;
}

.timer {
  width: 4vw;
  height: 2vw;
  background: #101011;
  color: #626060;
  text-align: center;
  border: .2vw solid;
  border-radius: .5vw;
  box-sizing: border-box;
  outline: none;
}

.active:active {
  background: #4D4D4D;
  color: #101011;
}

.setting-button {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 4vw;
  height: 4vw;
  border-radius: 10vw;
  background: #101011;
  border: .2vw solid;
  padding-right: .7vw;
  box-sizing: border-box;
  transition: .15s;
  cursor: pointer;
}

.arrow {
  transition: .15s;
}

.open-setting {
  width: 30vw !important;
}

.open-setting .arrow {
  transform: rotateY(180deg);
}

#setting:hover .setting-button {
  transform: translate(-50%, -50%);
}

.add-opacity .setting-items {
  opacity: 1;
}

.add-opacity .contact-data {
  opacity: 1;
}

.contact-data {
  position: absolute;
  bottom: 0vw;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  border-top: .2vw solid;
  transition: .2s;
  opacity: 0;
}

.contact-data > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}


@media screen and (min-width: 992px) {
  .inst {
    bottom: 3vw;
    left: 12vw;
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.3vw;
  }

  .inst:hover {
    width: 14vw;
  }
}

@media screen and (max-width: 992px) {
  #setting {
    display: none;
  }

  .inst {
    bottom: 5.5vw;
    left: 20vw;
    width: 5vw;
    height: 5vw;
    font-size: 2.6vw;
  }

  .inst:hover {
    width: 25vw;
  }
}
