body {
  margin: 0px;
  padding: 0px;
  background-color: #101011;
  background-image: url(../images/background.png);
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
  font-family: Arial;
  font-stretch: ultra-condensed;
  letter-spacing: .2vw;
}

#content {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  transition: 1s;
  z-index: 2;
}

#background-load {
  /* display: none; */
  position: fixed;
  background: #231F20;
  height: 100vh;
  width: 100vw;
  color: #CCCCCC;
  user-select: none;
  z-index: 4;
}

#main {
  position: relative;
  transition: 1s;
  z-index: 3;
}

div.loading-page {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.loading-page span {
  font-size: 2vw;
  padding-right: 1vw;
}

div.loading-page img {
  height: 3vw;
}

a.inst {
  position: fixed;
  bottom: 2vw;
  left: 5vw;
  display: flex;
  align-items: center;
  width: 2.5vw;
  height: 2.5vw;
  font-size: 1.3vw;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  transition: .5s;
  z-index: 2;
}

a.inst:hover {
  width: 14vw;
}

a.inst img {
  height: 100%;
  margin-right: .5vw;
}

div#dots {
  position: fixed;
  bottom: 2vw;
  right: 0vw;
  display: grid;
  grid-gap: 1vw;
  width: 2.8vw;
  width: 4vw;
}

div.dot-item {
  border: .175vw solid;
  border-radius: 1vw;
  width: .91vw;
  height: .91vw;
  cursor: pointer;
}

div.active-dot {
  border: .21vw solid;
  border-radius: 1vw;
  opacity: 0;
  width: .42vw;
  height: .42vw;
  margin: .035vw;
  transition: 1.5s;
}

div.moving {
  position: fixed;
  bottom: 0vw;
  background: #4EFF01;
  width: 0%;
  height: .3vw;
}

div.activeAutoscrollingPage {
  width: 100% !important;
}

#setting {
  position: absolute;
  top: 0vw;
  left: 0vw;
  transform: translateY(-100%);
  height: 100vh;
  width: 0vw;
  border-right: .4vw solid;
  background: #101011;
  color: #626060;
  user-select: none;
  transition: .2s;
  transition-timing-function: linear;
  z-index: 3;
}

.setting-block {
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 0vw;
  margin: 0vw;
  width: 100%;
  height: 100%;
  background: #101011;
  z-index: 1;
  box-sizing: border-box;
  overflow: hidden;
}

ul.setting-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 0vw;
  margin: 0vw;
  list-style-type: none;
  transition: .2s;
  opacity: 0;
}

ul.setting-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vw 0vw;
}

li.set {
  border: .2vw solid;
  border-radius: .5vw;
  width: 10vw;
  height: 2vw;
  justify-content: center !important;
  margin: auto !important;
  cursor: pointer;
}

li.set a {
  text-decoration: none;
  color: inherit;
}

span.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 2vw;
  box-sizing: border-box;
  border: .2vw solid;
  border-radius: .5vw;
  cursor: pointer;
}

input.timer {
  width: 4vw;
  height: 2vw;
  background: #101011;
  color: #626060;
  text-align: center;
  border: .2vw solid;
  border-radius: .5vw;
  box-sizing: border-box;
  outline: none;
}

.active:active {
  background: #4D4D4D;
  color: #101011;
}

.setting-button {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 4vw;
  height: 4vw;
  border-radius: 10vw;
  background: #101011;
  border: .2vw solid;
  padding-right: .7vw;
  box-sizing: border-box;
  transition: .15s;
  cursor: pointer;
}

span.arrow {
  transition: .15s;
}

.open-setting {
  width: 30vw !important;
}

.open-setting span.arrow {
  transform: rotateY(180deg);
}

#setting:hover .setting-button {
  transform: translate(-50%, -50%);
}

div.add-opacity ul.setting-items {
  opacity: 1;
}

div.add-opacity div.contact-data {
  opacity: 1;
}

div.contact-data {
  position: absolute;
  bottom: 0vw;
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  border-top: .2vw solid;
  transition: .2s;
  opacity: 0;
}

div.contact-data > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}


@media screen and (max-width: 992px) {
  #setting {
    display: none;
  }

  a.inst {
    width: 5vw;
    height: 5vw;
    font-size: 2.6vw;
  }

  a.inst:hover {
    width: 25vw;
  }
}
