.l1 {
  top: 30%;
}

.l2 {
  top: 50%;
  transform: translate(0%, -50%);
}

.l3 {
  bottom: 30%;
}

.open-mobile-menu {
  height: 100vh !important;
}

.open-mobile-menu-button .l1 {
  top: 50%;
  transform: translate(0%, -50%);
}

.open-mobile-menu-button .l2 {
  opacity: 0;
}

.open-mobile-menu-button .l3 {
  bottom: 50%;
  transform: translate(0%, 50%);
}

.open-mobile-menu-button-transform .l1 {
  transform: translate(0%, -50%) rotate(-45deg);
}

.open-mobile-menu-button-transform .l3 {
  transform: translate(0%, 50%) rotate(45deg);
}
