#mobile-menu {
  display: none;
  position: fixed;
  height: 0%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: .7s;
  user-select: none;
  z-index: 3;
}

ul.mobile-menu {
  list-style-type: none;
  margin: 0vw;
  padding: 0vw 2vw;
  transition: .7s;
  opacity: 0;
}

li.mobile-menu-item {
  padding: 3vw;
}

li.mobile-menu-item:hover {
  background: #101011;
  color: #ffffff;
}

div.l1 {
  top: 30%;
}

div.l2 {
  top: 50%;
  transform: translate(0%, -50%);
}

div.l3 {
  bottom: 30%;
}

div.open-mobile-menu {
  height: 100% !important;
}

div.open-mobile-menu-button .l1 {
  top: 50%;
  transform: translate(0%, -50%);
}

div.open-mobile-menu-button .l2 {
  opacity: 0;
}

div.open-mobile-menu-button .l3 {
  bottom: 50%;
  transform: translate(0%, 50%);
}

div.open-mobile-menu-button-transform .l1 {
  transform: translate(0%, -50%) rotate(-45deg);
}

div.open-mobile-menu-button-transform .l3 {
  transform: translate(0%, 50%) rotate(45deg);
}
