/* First */
body.pos_0 div.about {
  top: 2.2vw;
}

body.pos_0 div.about-text {
  left: 5vw;
}

body.pos_0 div.phone-hide {
  bottom: -19vw;
}

body.pos_0 div.width {
  width: 100%;
}

body.pos_0 div.first-vertical-line {
  height: 10vw;
}

body.pos_0 div.first-opacity {
  opacity: 1;
}

/* second */
body.pos_1 div.mission {
  top: 2.2vw;
}

body.pos_1 div.mission-text {
  left: 5vw;
}

body.pos_1 div.table-img {
  bottom: -9.5vw;
}

body.pos_1 div.hand-img {
  right: -4vw;
}

body.pos_1 div.second-vertical-line {
  height: 10vw;
}

body.pos_1 div.second-horizontal-line {
  width: 35vw;
}

body.pos_1 div.second-opacity {
  opacity: 1;
}

/* third */
body.pos_2 div.our-partners {
  top: 2.2vw;
}

body.pos_2 div.third-page-menu {
  left: 0vw;
}

body.pos_2 div.choose-third-page-menu {
  left: 50%;
}

body.pos_2 div.third-vertical-line {
  height: 10vw;
}

body.pos_2 div.third-horizontal-line {
  width: 38vw;
}
