@media screen and (min-width: 992px) {
  /* First */
  body.pos_0 div.about {
    top: 2.2vw;
  }

  body.pos_0 div.about-text {
    left: 4vw;
  }

  body.pos_0 div.phone-hide {
    bottom: -13vw;
  }

  body.pos_0 div.width {
    width: 100%;
  }

  body.pos_0 div.first-vertical-line {
    height: 10vw;
    left: 22vw;
  }

  body.pos_0 div.first-vertical-line {
    height: 10vw;
  }

  body.pos_0 div.first-opacity {
    opacity: 1;
  }

  /* second */
  body.pos_1 div.mission {
    top: 2.2vw;
  }

  body.pos_1 div.mission-text {
    left: 5vw;
  }

  body.pos_1 div.table-img {
    bottom: -4vw;
  }

  body.pos_1 div.hand-img {
    right: -7vw;
  }

  body.pos_1 div.second-vertical-line {
    height: 10vw;
    left: 33vw;
  }

  body.pos_1 div.second-horizontal-line {
    width: 36vw;
  }

  body.pos_1_en div.second-vertical-line {
    left: 21vw !important;
  }

  body.pos_1_en div.second-horizontal-line {
    width: 24vw !important;
  }

  body.pos_1 div.second-opacity {
    opacity: 1;
  }

  /* third */
  body.pos_2 div.our-partners {
    top: 2.2vw;
  }

  body.pos_2 div#slider {
    opacity: 1;
    left: 0vw;
  }

  body.pos_2 div.discription {
    left: 50%;
    opacity: 1;
  }

  body.pos_2 div.third-vertical-line {
    height: 10vw;
    left: 38vw;
  }

  body.pos_2 div.third-horizontal-line {
    width: 41vw;
  }

  body.pos_2_en div.third-vertical-line {
    left: 24vw !important;
  }

  body.pos_2_en div.third-horizontal-line {
    width: 27vw !important;
  }

  /* fourth */
  body.pos_3 div.our-gallary {
    top: 2.2vw;
  }

  body.pos_3 div.fourth-vertical-line {
    height: 10vw;
    left: 35vw;
  }

  body.pos_3 div.fourth-horizontal-line {
    width: 38vw;
  }

  body.pos_3_en div.fourth-vertical-line {
    left: 24vw !important;
  }

  body.pos_3_en div.fourth-horizontal-line {
    width: 27vw !important;
  }

  body.pos_3 div#gallary {
    left: 50%;
  }

  /* fivth */
  body.pos_4 div.our-products {
    top: 2.2vw;
  }

  body.pos_4 div.fivth-vertical-line {
    height: 10vw;
    left: 38vw;
  }

  body.pos_4 div.fivth-horizontal-line {
    width: 41vw;
  }

  body.pos_4_en div.fivth-vertical-line {
    left: 26vw !important;
  }

  body.pos_4_en div.fivth-horizontal-line {
    width: 29vw !important;
  }

  /* sixth */
  body.pos_5 div.contacts {
    top: 2.2vw;
  }

  body.pos_5 div.sixth-vertical-line {
    height: 10vw;
    left: 27vw;
  }

  body.pos_5 div.sixth-horizontal-line {
    width: 30vw;
  }

  body.pos_5_en div.sixth-vertical-line {
    left: 20vw !important;
  }

  body.pos_5_en div.sixth-horizontal-line {
    width: 23vw !important;
  }

}


/* @media screen and (max-width: 992px) {

} */
