@media screen and (min-width: 992px) {
  div.third-vertical-line {
    left: 38vw;
  }

  /* slider */
  #slider {
    position: absolute;
    top: 12vw;
    left: -102vw;
    width: 100vw;
    height: 20vw;
    user-select: none;
    overflow: hidden;
    opacity: 0;
    transition: 1s;
  }

  div.slider-images {
    display: flex;
    height: 20vw;
    transition: .2s;
  }

  div.slide-item {
    display: flex;
  }

  img.img-item {
    width: 18vw;
    height: 20vw;
    padding: 0vw 1vw;
    cursor: pointer;
  }

  div.nav, div.nav-img {
    position: absolute;
    color: #FFF;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    height: 3.3vw;
    width: 3.3vw;
    font-size: 2.3vw;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    z-index: 1;
  }

  div.nav:hover {
    background: rgba(0, 0, 0, .5);
  }

  div.nav:active {
    background: rgba(0, 0, 0, .8);
  }

  div.left, div.previous-img {
    top: 50%;
    left: 0vw;
    transform: translateY(-50%);
    border-radius: 0 .7vw .7vw 0;
  }

  div.right, div.next-img {
    top: 50%;
    right: 0vw;
    transform: translateY(-50%);
    border-radius: .7vw 0 0 .7vw;
  }

  /* discription */
  div.discription {
    position: absolute;
    top: 34vw;
    left: -40vw;
    transform: translateX(-50%);
    width: 60vw;
    text-align: center;
    opacity: 0;
    transition: 1s;
  }
}



@media screen and (max-width: 992px) {

}
