.switch-language {
  position: relative;
  border-radius: 10vw;
  background: #ffffff;
  background-image: url('../images/lang.png');
  background-size: 100%;
  cursor: pointer;
  transition: .3s;
  transition-timing-function: linear;
  z-index: 1;
}

.switcher {
  position: absolute;
  border-radius: 10vw;
  background: #4EFF01;
  transition: .4s;
  z-index: 5;
}

.switch-language:hover {
  opacity: 1;
}


@media screen and (min-width: 992px) {
  .switch-language {
    bottom: 3.2vw;
    left: 5vw;
    height: 1.5vw;
    width: 5.1vw;
    border: .2vw solid #70BF4C;
    opacity: .5;
  }

  .switcher {
    top: 0vw;
    right: 2.55vw;
    width: 2.55vw;
    height: 1.5vw;
  }

  .switch-language:hover .switcher {
    right: .05vw;
  }

  body.english-page .switcher {
    left: 2.55vw !important;
  }

  body.english-page .switch-language:hover .switcher {
    left: 0vw !important;
  }
}

@media screen and (max-width: 992px) {
  .switch-language {
    top: 0vw;
    left: 5vw;
    height: 3vw;
    width: 10.2vw;
    border: .4vw solid #70BF4C;
  }

  .switcher {
    top: -.05vw;
    right: 5vw;
    width: 5.1vw;
    height: 3.05vw;
  }

  .switch-language:hover .switcher {
    right: 0vw;
  }

  body.english-page .switcher {
    top: -.05vw;
    left: 5vw !important;
  }

  body.english-page .switch-language:hover .switcher {
    left: 0vw !important;
  }
}


@media screen and (max-width: 767px) {
  .switch-language {
    top: 0vw;
    left: 2vw;
    height: 3vw;
    width: 10.2vw;
    border: .4vw solid #70BF4C;
  }

  .switcher {
    top: 0vw;
    right: 5.2vw;
    width: 5.1vw;
    height: 3.1vw;
  }

  .switch-language:hover .switcher {
    right: -.1vw;
  }

  body.english-page .switcher {
    top: 0vw;
    left: 5.2vw !important;
  }

  body.english-page .switch-language:hover .switcher {
    left: -.1vw !important;
  }
}
