body {
  margin: 0px;
  padding: 0px;
  background-color: #101011;
  background-image: url(images/background.png);
  background-attachment: fixed;
  color: #fff;
  overflow: hidden;
  font-family: Arial;
}

#content {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  transition: 1s;
  z-index: 2;
}

#background-load {
  position: fixed;
  background: #231F20;
  height: 100vh;
  width: 100vw;
  color: #CCCCCC;
  user-select: none;
  z-index: 4;
}

#main {
  transition: 1s;
}

div.loading-page {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.loading-page span {
  font-size: 2vw;
  padding-right: 1vw;
}

div.loading-page img {
  height: 3vw;
}

a.inst {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 2vw;
  left: 5vw;
  height: 2.5vw;
  font-size: 1.3vw;
  text-decoration: none;
  color: inherit;
  z-index: 2;
}

a.inst:hover::after {
  content: '/chargemotion';
}

a.inst img {
  height: 100%;
  margin-right: .5vw;
}

div#dots {
  position: absolute;
  bottom: 2vw;
  /* bottom: 8vw; */
  right: 0vw;
  display: grid;
  grid-gap: 1vw;
  width: 2.8vw;
  width: 4vw;
  z-index: 3;
}

div.dot-item {
  border: .175vw solid;
  border-radius: 1vw;
  width: .91vw;
  height: .91vw;
  cursor: pointer;
}

div.active-dot {
  border: .21vw solid;
  border-radius: 1vw;
  opacity: 0;
  width: .42vw;
  height: .42vw;
  margin: .035vw;
  transition: 1.5s;
}
